html {
    overflow-y: -moz-scrollbars-vertical;
    overflow-y: scroll
}

body {
    background-color: #f1f1f1
}

html,
body {
    /* font: normal 13px/16px 'Ubuntu', 'Helvetica', Arial, sans-serif */

    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4 {
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

a,
a:link,
a:focus,
a:visited,
a:active {
    color: rgb(0, 52, 78);
    text-decoration: none
}

a:hover {
    color: #00445b;
    text-decoration: none
}

.btn {
    color: #333 !important
}

.btn-danger,
.btn-primary {
    color: white !important
}

.box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.wide {
    width: auto;
    margin: 0 10px
}

.opacity50 {
    -webkit-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;
    filter: alpha(opacity=50)
}

#imgPreviewContainer {
    border: 1px solid #c6c6c6
}

header ul {
    overflow: hidden;
    margin: 0
}

header li {
    float: left;
    list-style: none;
    margin: 0 0 0 15px
}

header nav {
    float: right
}

header a {
    color: white
}

header a,
header a:link,
header a:focus,
header a:visited,
header a:active {
    color: white;
    text-decoration: none
}

.footer{
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);

}

header a:hover {
    color: lightblue
}

header .first {
    overflow: hidden;
    /* background-color: black; */
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    padding: 20px 20px
}

header .first a {
    font-size: 16px;
    text-decoration: none
}

header .first h1 {
    float: left;
    color: white;
    font-size: 22px;
    margin: 0
}

header .second {
    background-color: #110038;
    padding: 10px 20px
}

header .second nav:first-child {
    float: left
}

header .second nav:first-child>ul>li {
    margin: 0 15px 0 0
}

header .second nav ul {
    display: inline-table;
    overflow: visible
}

header .second nav ul li {
    position: relative
}

header .second nav ul ul {
    display: none;
    padding-top: 13px;
    position: absolute;
    left: -10px;
    z-index: 999;
    top: 100%;
    background-color: #3996d9
}

header .second nav ul ul li {
    float: none;
    position: relative;
    padding: 5px 10px;
    margin: 0
}

header .second nav ul ul li a {
    display: block;
    width: 100%;
    height: 100%
}

header .second nav ul ul li a:hover {
    color: #fff
}

header .second nav ul ul li:hover {
    background-color: #2482c5
}

header .second nav ul li:hover>ul {
    display: block
}

header .second nav .contacts-m {
    left: -45px
}

.main {
    margin-top: 30px
}

.main .btn {
    -moz-box-shadow: 0 0 2px 0 #dcdcdc;
    -webkit-box-shadow: 0 0 2px 0 #dcdcdc;
    box-shadow: 0 0 2px 0 #dcdcdc
}

.main .head {
    overflow: hidden;
    margin-bottom: 10px
}

.main .head .title {
    float: left
}

.main .head nav {
    float: right
}

.main .body {
    background-color: #fff;
    overflow: hidden;
    border: 10px solid #e3e3e3;
    padding: 15px 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

.main .body .item_list {
    padding: 20px 10px
}

.main .body .add {
    overflow: hidden
}

.main .body .add .sections {
    overflow: hidden;
    margin-bottom: 15px
}

.main .body .add .sections ul {
    margin: 0
}

.main .body .add .sections ul li {
    list-style: none;
    margin-right: 15px;
    float: left
}

.main .body .add .sections ul li a {
    margin: 0;
    background-color: #f2f2f2;
    text-align: center;
    padding: 5px;
    display: block;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.main .body .add .sections ul li a:hover {
    background-color: #e4e4e4;
    color: #08C
}

.main .body .add .row1 {
    overflow: hidden;
    width: 100%;
    clear: both
}

.main .body .add .wide {
    width: 885px;
    margin: 0 0 10px
}

.main .body .add .half {
    width: 418px
}

.main .body .add input[name=submit] {
    height: 37px;
    padding: 0 30px;
    width: auto
}

.main .body .add form {
    margin: 0
}

.main .body .add input,
.main .body .add textarea,
.main .body .add .uneditable-input {
    width: 192px
}

.main .body .add select {
    width: 204px
}

.main .body .add .left {
    width: 48%;
    float: left;
    overflow: hidden
}

.main .body .add .left .col1 {
    width: 48%;
    float: left
}

.main .body .add .left .col2 {
    width: 48%;
    float: right
}

.main .body .add .left input[name=image] {
    height: 26px
}

.main .body .add .left textarea {
    height: 200px
}

.main .body .add .right {
    width: 48%;
    float: right;
    overflow: hidden
}

.main .body .add .right .col1 {
    width: 48%;
    float: left;
    text-align: left
}

.main .body .add .right .col2 {
    width: 48%;
    float: right;
    text-align: left
}

.main .body .add .right .fileupload {
    text-align: center
}

.main .body .add .submit {
    text-align: right
}

.main .body table.dataTable {
    margin: 0 0 10px
}

.main .body table.dataTable thead tr {
    background-color: #f8f8f8
}

.main .body table.dataTable thead tr th {
    border: 0;
    padding: 5px 18px 5px 10px
}

.main .body table.dataTable tr td {
    padding: 5px 10px
}

.main .body table.dataTable tr.even {
    background-color: #f4f6f9
}

.main .body table.dataTable tr.even td.sorting_1 {
    background-color: #ebf2ff
}

.main .body table.dataTable tr.odd {
    background-color: #f3f3f3
}

.main .body table.dataTable tr.odd td.sorting_1 {
    background-color: #f3f3f3
}

.main .body table.dataTable tr.odd.even td.sorting_1 {
    background-color: #ebf2ff
}

.main .body table.dataTable tr.odd.gradeX.even {
    background-color: #f4f6f9
}

.main .body .transactions_list table th:nth-child(1),
.main .body .transactions_list table td:nth-child(1) {
    width: 50px;
    text-align: center
}

.main .body .transactions_list table th:nth-child(2),
.main .body .transactions_list table td:nth-child(2) {
    width: 100px;
    text-align: center
}

.main .body .transactions_list table th:nth-child(3),
.main .body .transactions_list table td:nth-child(3) {
    width: 70px;
    text-align: center
}

.main .body .transactions_list table th:nth-child(5),
.main .body .transactions_list table td:nth-child(5) {
    width: 60px;
    text-align: center
}

.main .body .transactions_list table th:nth-child(6),
.main .body .transactions_list table td:nth-child(6) {
    width: 100px;
    text-align: center
}

.main .body .transactions_list table th:nth-child(7),
.main .body .transactions_list table td:nth-child(7) {
    width: 90px;
    text-align: center
}

.main .body .transactions_list_advanced table th:nth-child(1),
.main .body .transactions_list_advanced table td:nth-child(1) {
    text-align: center
}

.main .body .transactions_list_advanced table th:nth-child(2),
.main .body .transactions_list_advanced table td:nth-child(2) {
    text-align: center
}

.main .body .transactions_list_advanced table th:nth-child(3),
.main .body .transactions_list_advanced table td:nth-child(3) {
    text-align: center
}

.main .body .transactions_list_advanced table th:nth-child(4),
.main .body .transactions_list_advanced table td:nth-child(4) {
    text-align: center
}

.main .body .transactions_list_advanced table th:nth-child(5),
.main .body .transactions_list_advanced table td:nth-child(5) {
    text-align: center
}

.main .body .transactions_list_advanced table th:nth-child(8),
.main .body .transactions_list_advanced table td:nth-child(8) {
    text-align: center
}

.main .body .transactions_list_advanced table th:nth-child(9),
.main .body .transactions_list_advanced table td:nth-child(9) {
    text-align: center
}

.main .body .transactions_list_advanced table th:nth-child(10),
.main .body .transactions_list_advanced table td:nth-child(10) {
    text-align: center
}

.main .body .transactions_list_advanced table th:nth-child(11),
.main .body .transactions_list_advanced table td:nth-child(11) {
    text-align: center
}

.main .body .product_list table th:nth-child(1),
.main .body .product_list table td:nth-child(1) {
    width: 150px;
    text-align: center
}

.main .body .product_list table th:nth-child(3),
.main .body .product_list table td:nth-child(3) {
    width: 150px
}

.main .body .product_list table th:nth-child(4),
.main .body .product_list table td:nth-child(4) {
    width: 150px
}

.main .body .product_list table th:nth-child(5),
.main .body .product_list table td:nth-child(5) {
    width: 50px;
    text-align: center
}

.main .body .categories_list table th:nth-child(1),
.main .body .categories_list table td:nth-child(1) {
    width: 300px
}

.main .body .contact_list table th:nth-child(1),
.main .body .contact_list table td:nth-child(1) {
    width: 200px
}

.main .body .contact_list table th:nth-child(3),
.main .body .contact_list table td:nth-child(3) {
    width: 200px
}

.main .body .roles_list table th:nth-child(1),
.main .body .roles_list table td:nth-child(1) {
    width: 100px;
    text-align: center
}

.main .body .roles_list table th:nth-child(2),
.main .body .roles_list table td:nth-child(2) {
    width: 200px
}

.main .body .site_settings .info {
    float: left;
    margin: 20px 0 0
}